<%= render 'common/navbar' %>
<%= render 'common/header', subtitle: 'Manifiesto del grupo' %>

<section class="section">
  <div class="container">
    <% if flash[:notice] %>
      <div class="notification is-link">
        <button class="delete"></button>
        <p class="has-text-centered"><%= flash[:notice] %></p>
      </div>
    <% end %>
    <div class="content">
      <p class="is-size-4">
        Somos un <strong>grupo de acción</strong> que surgió de forma espontánea en las redes, siendo la misión en común que nos une la de <strong>impulsar activamente</strong> las ideas de la <strong>libertad</strong> en la Argentina y, en un futuro próximo, concretar la creación de un <strong>partido político</strong> que nos represente.
      </p>

      <h3>Tecnología para potenciarnos</h3>
      <p>
        La tecnología permite potenciar a los individuos y conectarlos de forma que puedan coordinar sus esfuerzos de forma descentralizada, incluso interactuando en diversas franjas horarias. Utilizaremos la misma de forma inteligente para organizarnos como grupo de acción. Queremos tener una colaboración descentralizada y horizontal donde sean los proyectos e ideas los que traccionen gente, y no una estructura rígida y verticalista.
      </p>

      <h3>Únete al equipo!</h3>
      <p>
      La Argentina necesita de individuos comprometidos con la defensa libertad que estén dispuestos a colaborar activamente llevando adelante proyectos concretos para dejar atrás siete décadas de decadencia económica y social. La <strong>batalla de las ideas o cultural</strong> es la primera que tendremos que dar para lograr nuestros objectivos a largo plazo y es es donde debemos concentrar nuestras energías siempre apuntando a proyectos concretos que generen impacto.
      </p>

      <br />
      <p class="has-text-centered">
        <a href="<%= unirme_path %>" class="button is-medium is-warning"><i class="fa fa-user-plus"></i>&nbsp;Unirme al grupo</a>
      </p>

      <h3>Comunicación inteligente</h3>
      <p>
        Los hechos son concisos, los libertarios somos minoria y estamos dispersos geográficamente. Por eso, debemos utilizar las herramientas más efectivas para comunicarnos y organizarnos a medida que crezcamos. Los grupos de Facebook y los de WhatsApp no son efectivos cuando la cantidad de usuarios crece y se quiere coordinar varios proyectos en simultáneo. Por eso elegimos una de las herramientas tecnológicas más efectiva y más utilizada por las empresas de tecnología en el mundo: <a href="http://slack.com">Slack</a>, entérate como funciona la misma y cómo ingresar en el centro de comunicación.
      </p>

      <br />
      <p class="has-text-centered">
      <a href="<%= comunicacion_path %>" class="button is-medium is-warning"><i class="fa fa-users"></i>&nbsp;&nbsp;Ir al centro de comunicación</a>
      </p>

      <h3>El mapa liberal de la Argentina</h3>
      <p>
        Nuestra misión requiere saber dónde estamos ubicados geográficamente para conectarnos entre nosotros y además saber con que aptitudes contamos. Es por eso que estamos creando el mapa liberal de la Argentina. Esto nos permitirá formar vínculos entre nosotros y, a medida que el grupo crezca, también lograr reuniones presenciales.
      </p>

      <br />
      <p class="has-text-centered">
        <a href="<%= mapa_liberal_path %>" class="button is-medium is-warning"><i class="fa fa-street-view"></i>&nbsp;Ver mapa liberal</a>
      </p>
    </div>
  </div>
</section>
