<%= render 'common/navbar' %>
<%= render 'common/header', subtitle: 'Manifiesto del grupo' %>

<section class="section">
  <div class="container">
    <%= render('common/notifications') %>

    <div class="content">
      <p class="is-size-4">
        Somos un <strong>grupo de acción</strong> que surgió de forma espontánea en las redes, siendo la misión en común que nos une la de <strong>impulsar activamente</strong> las ideas de la <strong>libertad</strong> en la Argentina y, en un futuro próximo, concretar la creación de un <strong>partido político</strong> que nos represente.
      </p>

      <h3>Tecnología y herramientas inteligentes</h3>
      <p>
      Los hechos son concisos, los libertarios somos minoria y estamos dispersos geográficamente. Por eso, debemos utilizar las herramientas más efectivas para comunicarnos y organizarnos de forma de <strong>potenciar nuestro equipo de trabajo</strong>. Elegimos una de las aplicaciones de comunicación más efectiva y utilizadas por organizaciones de tecnología en el mundo: <a href="http://slack.com">Slack</a>. Entérate como ingresar en el <%= link_to('centro de comunicación', comunicacion_path) %>.
      </p>

      <h3>Únete al equipo</h3>
      <p>
      La Argentina necesita de individuos comprometidos con la defensa libertad que estén dispuestos a colaborar activamente llevando adelante proyectos concretos para dejar atrás siete décadas de decadencia económica y social. La <strong>batalla de las ideas o cultural</strong> es la primera que tendremos que dar para lograr nuestros objectivos a largo plazo y es donde debemos concentrar nuestras energías siempre apuntando a proyectos concretos que generen permitan irle ganando metro a metro al estado. <%= link_to('Únete a nosotros', unirme_path) %> para ser parte del equipo.
      </p>

      <h3>El mapa liberal de la Argentina</h3>
      <p>
      Nuestra misión requiere saber dónde estamos ubicados geográficamente para <strong>conectarnos entre nosotros</strong> y además saber con que aptitudes contamos. Es por eso que estamos creando el mapa liberal de la Argentina. Esto nos permitirá formar vínculos entre nosotros y, a medida que el grupo crezca, también lograr reuniones presenciales. Visualiza el <%= link_to('mapa liberal', mapa_liberal_path) %> para encontrar a los libertarios de tu zona.
      </p>

      <h3>Infórmate más acerca de nosotros</h3>
      <p>
      ¿Es fuerza libertaria un partido político? ¿Por qué libertaria y no liberal? Puedes ver la respuesta a estas y otras preguntas en la sección de <%= link_to('Preguntas frecuentes', preguntas_frecuentes_path) %>. Si deseas un resumen de los pilares fundamentales en los cuales el grupo se basa puede visualizar nuestros <%= link_to('principios', principios_path) %>.
      </p>
    </div>
  </div>
</section>
