<%= render 'common/navbar' %>

<div class="container">
  <div class="content">
    <h1 class="title" style="margin-top: 20px">Restablecer clave</h1>
    <hr />
    <form action="<%= reset_password_with_token_usuarios_path %>" method="post">
      <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
      <%= hidden_field_tag(:reset_token,  @usuario.reset_token) %>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input type="input" name="email" readonly class="input" value="<%= @usuario.email %>" />
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input type="password" name="password" required class="input" />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Confirmación</label>
        <div class="control has-icons-left">
          <input type="password" name="password_confirmation" required class="input" />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
        </div>
      </div>
      <div class="field">
        <button type="submit" class="button is-link is-medium">Restablecer</button>
      </div>
    </form>
  </div>
</div>
