<!DOCTYPE html>
<html>
  <head>
    <title>Fuerza Libertaria Argentina</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

    <%= javascript_include_tag('application') %>
    <%= content_for(:head) %>
    <%= Gon::Base.render_data(camel_case: true, namespace: 'serverExports') %>

    <!-- Google Analytics  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109818858-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109818858-1');
    </script>
  </head>

  <body id="<%= "#{controller_name}_#{action_name}" %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= yield %>
  </body>
</html>
